.layout-main {
  display: flex;
  width: 100%;
  height: calc(100vh - 48px - 28px);
  overflow: hidden;
  background: var(--bg);
}

.layout-main__center-panel {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
